// Body
$body-bg: #f5f9fc;

// Typography
$font-family-sans-serif: 'Noto Kufi Arabic';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #5718C4;

$btn-border-radius: 0;

$card-border-width: 0;
$card-border-radius: 0;
$warning: #f28406;
$input-border-radius: 0;